[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-changed-fields = "*"
drf-writable-nested = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
boto3 = "*"
django-storages = "*"
django-environ = "*"
pillow = "*"
django-cors-headers = "*"
django-filter = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.8"
